<div class="grid">
    <div class="col-5">
        <h5>Informações da Despesa</h5>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12">
                <app-form-input [parentForm]="form" label="Descrição do Fluxo" name="denominacaoTipoContrato"></app-form-input>
            </div>

            <div class="field col-6">
                <app-form-input [parentForm]="form" label="Tipo de Despesa" name="numeroContrato"></app-form-input>
            </div>
            <div class="field col-6">
                <app-form-input [parentForm]="form" label="Tipo Movimento" name="empresa"></app-form-input>
            </div>                        
        </div>
        <h5>Emissor</h5>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-8 ">
                <app-form-input [parentForm]="form" label="Nome do Emissor" name="contratoAntigo"></app-form-input>
            </div>
            <div class="field col-4 ">
                <app-form-input [parentForm]="form" label="Cpf/Cnpj Emissor" name="contratoAntigo"></app-form-input>
            </div>
            <div class="field col-3">
                <app-form-input [parentForm]="form" label="Código SAP" name="centroCustoSAP"></app-form-input>
            </div>
            <div class="field col-4 ">
                <app-form-input [parentForm]="form" label="Telefone Fornecedor" name="contratoAntigo"></app-form-input>
            </div>
            <div class="field col-5 ">
                <app-form-input [parentForm]="form" label="Email Emissor" name="contratoAntigo"></app-form-input>
            </div>
        </div>
    </div>                

    <div class="col-sm-1">
        <p-divider layout="vertical"></p-divider>
    </div>

    <div class="col-5">
        <h5>Imóvel</h5>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 ">
                <app-form-input [parentForm]="form" label="Endereço Imóvel" name="contratoAntigo"></app-form-input>
            </div>                        
        </div>
        <h5>Configuração OCR</h5>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 ">
                <app-form-input [parentForm]="form" label="Tokens OCR" name="contratoAntigo" type="textarea"></app-form-input>
            </div>                        
        </div>                         
        <h5>Grupo de Resolução</h5>
        <div class="p-fluid p-formgrid grid">
            <div class="col-12">
                <p-dropdown [options]="gruposResolucao" placeholder="Grupo de Resolução" name="grupoResolucao" [showClear]="true"></p-dropdown>
            </div>
        </div>

    </div>
</div>