<!-- <ngb-toast *ngFor="let toast of toastService.toasts" [class]="toast.classname" [autohide]="true"
  [delay]="toast.delay || 5000" (hidden)="toastService.remove(toast)">
  <div class="row">
    <div class="col-1 d-flex align-items-center">
      <mat-icon [svgIcon]="toast.iconName" *ngIf="toast.iconName"></mat-icon>
    </div>
    <div class="col-10 d-flex align-items-center">
      {{ toast.textOrTpl }}
    </div>
    <div class="col-1 d-flex align-items-center justify-content-end">
      <mat-icon svgIcon="x" (click)="toastService.remove(toast)"></mat-icon>
    </div>
  </div>
</ngb-toast> -->
